<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094353868172-ukmquke5suqu66oj6lq2m36dgtt078t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094353868172-ukmquke5suqu66oj6lq2m36dgtt078t2</string>
	<key>API_KEY</key>
	<string>AIzaSyCC2IrLkdR3g3zN0XxwYsd1bqG2DTF7uT0</string>
	<key>GCM_SENDER_ID</key>
	<string>1094353868172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RJTCompuquest.DemoInstagramApp</string>
	<key>PROJECT_ID</key>
	<string>demoinstagramapp</string>
	<key>STORAGE_BUCKET</key>
	<string>demoinstagramapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094353868172:ios:8f199a94d2339cb7</string>
	<key>DATABASE_URL</key>
	<string>https://demoinstagramapp.firebaseio.com</string>
</dict>
</plist>